@import url('https://fonts.googleapis.com/css?family=Homenaje&display=swap');

html,body { width: 100%; height:100%;}
body
    {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-family: 'Homenaje', serif;
    margin: 0;
    padding: 0;    
    /* display:flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    }

.title {
  display: flex;
  justify-content: center;
}

.app
{
  min-width: 20%;
  min-height: 20%; 
  width: 40%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  border-radius: 43px;
  background: linear-gradient(145deg, #fffeff, #dad5d9);
  box-shadow:  25px 25px 33px #a09c9f, -25px -25px 33px #ffffff;
}

.app form 
{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.btn
{
  margin-bottom: 10px;
  margin-top: 25px;
  border-radius: 25px;
  width: 20%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(50, 100, 192);
  border: 0px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover{
  height: 45px;
  width: 25%;
  cursor: pointer;
}

.box{
  width: 400px; 
  height: 300px;
  background: rgba(47, 54, 64, 0.397);
  margin: 0 auto;
  border-radius:12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  padding-bottom:20px;
  padding-top:20px;
}
.box h3{
  color: #ecf0f1;
  margin-left: 10%;
  text-transform: uppercase;
  font-size: 12px;  
  letter-spacing: 0.2em;
}

.loginContainer{  
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  font-family:inherit;
  background:#ecf0f1;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%; 
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  border: 1px solid #DDDDDD;
  outline:none;
  transition: all 0.30s ease-in-out;
  letter-spacing:0.15em;
  transition: 0.5s;
}
.input:focus{
  width: 90%;
  box-shadow: 0 0 5px rgb(50, 100, 192); 
  border: 1px solid rgb(50, 100, 192);
}

/* .errorMsg h3, .hideErrorMsg h3{
  color: #efefef;
  font-weight:700;  
  letter-spacing: 0.27em;
  background: rgba(255, 77, 65, 0.5);
  width:75%;
  padding:10px; 
}
.errorMsg h3{
  animation: slideIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.hideErrorMsg h3{
  animation: slideOut 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate3d(-20rem, 0, 500rem);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-20rem, 0, 500rem);    
  }
} */